RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

AuthType Basic
AuthName "Level 3 Authorization Required"
AuthUserFile /private/.htpasswd
require valid-user